*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #f1f5f9;
    --text-color-secondary: #CBD5E1;

    --font-family: Archivo;
    --font-family-bold: 'Archivo Black';
    --text-heading1: bold 24px/135% var(--font-family);
    --text-heading2: bold 16px/140% var(--font-family);
    --text-heading3: bold 14px/140% var(--font-family);
    --text-span: 14px/145% var(--font-family);
    --text-paragrah: 14px/160% var(--font-family);
    --text-cards: medium 10px/120% var(var(--font-family))
    
}

.container{
    max-width: 1280px;
    background-color: var(--bg-color);
}

a:hover{
    color: var(--brand-color-light);
}

h1, h2, h3{
    font: inherit;
}

img{
    max-width: 100%;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font-family: var(--font-family);
}

.content-tag{
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    font: 500 10px/1.2 var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}

main{
    margin-block: 40px;
    row-gap: 80px;
    column-gap: 32px;

    grid-template-columns: 2fr 1.4fr;

    grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "ai aside";
}