header{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 32px;
}

header p{
    color: var(--text-color-primary);
    font: var(--text-heading2);
}
header h1{
    color: var(--brand-color-light);
    font: var(--text-heading1);
}
header div{
    display: flex;
    gap: 8px;
}
