nav{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    
    padding: 14px 32px;
    
    border-top: 1px solid var(--stroke-color);
    border-bottom: 1px solid var(--stroke-color);
}
a{
    text-decoration: none;
    color: var(--text-color-secondary);
    font: var(--text-heading3);
}