header{  
    height: 750px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p{
        color: var(--gray-400);
        font: var(--text-maven-sm);
        text-align: center;
        margin-bottom: 80px;
    }

    a{
        margin-top: 99.5px;
        margin-bottom: 57px;
    }

    
}

#title{
    text-align: center;

    span{
        color: var(--gray-500);
        font: var(--text-inconsolata-subtitle);
        margin-bottom: 8px;
        
    }
    span p{
        display: inline;
        color: var(--red);
        
    }
    h1{
        color: var(--gray-600);
        font: var(--title-asap-lg);
        margin-bottom: 20px;
    }
    
}

.content-tag{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--gray-300);
    padding-inline: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 999px;
    font: var(--text-maven-md);
    color: var(--gray-500);
    
    img{
        width: 24px;
        height: 24px;
    }
}

#projects{
    background-color: var(--gray-200);
    padding: 72px 120px 144px;
}

.project-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    figure{
        width: 330px;
        height: 280px;
        background-color: var(--gray-300);
        padding: 12px;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;

        img{
            width: 306px;
            height: 156px;
            border-radius: 8px;
            margin-bottom: 20px;
        }
    }

    figure:hover{
        box-shadow: inset 0 0 0 1.5px var(--gray-400);
    }

    figcaption{
        
        h3{
            color: var(--gray-600);
            font: var(--title-asap-sm);
            text-align: left;
            margin-bottom: 8px;
        }
        span{
            color: var(--gray-500);
            font: var(--text-maven-sm);

        }

    }

}

#services{
    background-color: var(--gray-100);
    padding: 88px 120px 120px;
    
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 280px);
        gap: 24px;
        justify-content: center;
    }
    .cards{
        width: 280px;
        height: 155px;

        padding: 20px;
        
        border: 2px solid var(--gray-200);
        border-radius: 12px;

        img{
            margin-bottom: 20px;
        }
        h3{
            font: var(--title-asap-sm);
            color: var(--gray-600);
            margin-bottom: 8px;
        }
        span{
            font: var(--text-maven-sm);
            color: var(--gray-500);
        }
    }

}

#contact{
    background-image: url(../images/Background_Contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 128px 120px 200px;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;

    .cabecalho{
        p{
           color: var(--purple);
        }
        h2{
            margin-bottom: 8px;
        }
        span{
            color: var(--gray-500);
            font: var(--text-maven-md);
            margin-bottom: 48px;
        }
    }

    #group{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
    }

    .midias{
        display: flex;
        align-items: center;

        width: 400px;
        height: 68px;
        
        background-color: var(--gray-300);
        border-radius: 8px;

        padding: 20px;
        gap: 12px;
        transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;

        span{
            font: var(--text-maven-md);
            color: var(--gray-500);
            width: 288px;

        }
        #arrow{
            width: 20px;
            height: 20px;

        }
        
    }
    
    .icon-linkedin{
        background-image: url(../icons/Linkedin.svg);

    }
    .icon-instagram{
        background-image: url(../icons/InstagramLogo.svg);
    }
    .icon-github{
        background-image: url(../icons/GithubLogo.svg);
    }
    .icon-email{
        background-image: url(../icons/EnvelopeSimple.svg);
    }

    .icon-linkedin, .icon-instagram, .icon-github, .icon-email{
        background-repeat: no-repeat;
        background-size: 28px;
        width: 28px;
        height: 28px;
    }

    .midias:hover{
        box-shadow: 0 0 0 1px var(--blue);
    }
    
    .midias:hover .icon-linkedin {
        background-image: url(../icons/linkedin-hover.svg);
        background-size: 28px;
    }
    .midias:hover .icon-instagram {
        background-image: url(../icons/instagram-hover.svg);
        background-size: 28px;
    }
    .midias:hover .icon-github {
        background-image: url(../icons/github-hover.svg);
        background-size: 28px;
    }
    .midias:hover .icon-email {
        background-image: url(../icons/envelope-hover.svg);
        background-size: 28px;
    }

}
